* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  overflow: hidden;
  height: 100vh;
}

#header {
  height: 30px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: flex; /* Add this line */
  justify-content: space-between;
  flex-direction: row;
}

.headerBtn {
  height: 30px;
  width: 100px;
  background-color: white;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px 5px;
}

.headerBtn:hover {
  background-color: #bebebe;
}

img {
  display: none;
}

#warp {
  padding: 10px;
  font-size: 30px;
  margin: 10px;
  font-family: 'Bangers', cursive;
  color: white;
  background-color: black;
}

.slider {
  position: absolute;
  width: 100px;
  height: 20px;
  z-index: 100;
}

#sliderContainer {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 100px;
  height: 20px;
  position: absolute;
  border: 1px solid black;
}